{% extends "base_index.html" %}
{% load staticfiles %}
{% block menu %}
<div class="container">
	<div class="bs-sidebar affix">
		<div class="sidebar-heading">
			<h4>博文目录</h4>
		</div>
		<div class="sidebar-content">
			<ul class="nav">
				<li class="active">
					<span class="badge pull-right">{{ list_blogs|length }}</span>
					<a href="{% url 'blog:index' %}"> <h4>所有博文</h4> </a>
				</li>
				{% if list_categories %}
				{% for category in list_categories %}
				<li>
					<a href="{% url 'blog:categorized' category_slug=category.slug %}"> <h4> {{ category.title }} </h4></a>
				</li>
				{% endfor %}
				{% else %}
				<li>
					无分类
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}

{% block main_content %}
{% if list_blogs %}
<div class="container" id="masonry_content">
	<!-- <div class="pagination">
	<span class="step-links"> {% if list_blogs.has_previous %} <a href="?page={{ list_blogs.previous_page_number }}"> previous </a> {% endif %} <span class="current"> Page {{ list_blogs.number }} of {{ list_blogs.paginator.num_pages }} </span> {% if list_blogs.has_next %} <a href="?page={{ list_blogs.next_page_number }}"> next </a> {% endif %} </span>
	</div> -->

	{% for blog in list_blogs %}
	<div class="blog item">
		<div>
			<a href="{% url 'blog:content' blog.slug %}"><h3>{{ blog.title }}</h3></a>
		</div>
		<p>
			{{ blog.pub_date }}
		</p>
		{% with categories=blog.categories.all %}
		{% if categories %}
		{% for category in categories %}
		<button type="button "class="btn btn-mini" href="#">
			{{ category.title }}
		</button>
		{% endfor %}
		{% else %}
		<button type="button "class="btn btn-mini disabled" href="#">
			无分类
		</button>
		{% endif %}
		{% endwith %}
		<div class="blog-tease">
			<p>
				{{ blog.tease }}
			</p>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<li>
		No blogs are available.
	</li>
	{% endif %}
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'home/js/masonry.pkgd.min.js' %}"></script>
<script type='text/javascript'>
	// <![CDATA[
	var $container = $('#masonry_content');
	$container.masonry({
		//columnWidth:200,
		itemSelector : '.item'
	});
	//var $msnry = $container.data('masonry');
	// ]]>
</script>
{% endblock %}
