{% extends "blog/blog_index.html" %}
{% load markup %}
{% block main_content %}
{% if object %}
<div class="blog">
	<div class="blog-title">
		<h3>{{ object.title }}</h3>
		<p>
			{{ object.pub_date }}
		</p>
		{% if object.categories.all %}
		{% for category in object.categories.all %}
		<button type="button "class="btn btn-mini" href="#">
			{{ category.title }}
		</button>
		{% endfor %}
		{% else %}
		<button type="button "class="btn btn-mini disabled" href="#">
			无分类
		</button>
		{% endif %}
	</div>
	<div class="blog-body">
		<p id="blog-body">
			{{ object.body_html|safe }}
		</p>
		{% if object.script %}
		<p id="blog-script">
			{{ object.script|safe }}
		</p>
		{% endif %}
	</div>
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
	var disqus_shortname = 'zengxiaohan';
	(function() {
	    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
{% endblock %}
