.masthead {
	margin-top: 50px;
	background: @color-main;
	text-align: left;
	h1 , h2 , h3 , h4 , h5 , p , a .h1 , .h2 , .h3 , .h4 , .h5 {
		color: white;
	}

	h1 {
		font-size: 50px;
		margin: 20px 0px 20px 0px;
	}

	h2 {
		font-size: 20px;
	}

	.banner {
		padding: 100px 15px 100px 15px;
	}
}

.main-content-data {
	margin-top: 50px;
	background-size: cover;
	background-attachment: fixed;
	background-postition: center;
}

.data-index {
	text-align: justify;
	padding: 60px 0px 60px 0px;
}

.data-label-share {
	margin: 10px 0px 10px 0px;
}

.data-tease {
	padding: 20px 0px;
}

.data-content {
	padding: 60px;
	background: rgba(206, 224, 229, 0.8);
	text-align: justify;
}

.data-content-text {
	margin: auto;
	max-width: 740px;
}

.data-tease-image {
	margin-top: 20px;
	max-width: 100%;
	max-height: 100%;
}

.data-body {
	padding: 100px 0px 100px 0px;
	text-align: justify;
}

