@import "navbar";
@import "carousel-customize";
@import "blog";
@import "data";
@import "sidebar";
@import "wedding";
@color-main: #004C68;
@color-main-light: #0084B4;
@color-dark: #0A1D23;
@color-text-light: #CEE0E5;
@color-background-light: #CEE0E5;
@color-background: #BECCCD;
@color-dark-green: #023748;
@color-dark-green-hover: #08556F;
@color-code-background: #f5f5f5;
@color-code: #333333;
@carousel-height: 600px;
html {
	font-family: "Arimo", "WenQuanYi Micro Hei", "Microsoft YaHei", arial, sans-serif;
}

body {
	font-family: "Arimo", "WenQuanYi Micro Hei", "Microsoft YaHei", arial, sans-serif;
	background: #FFFFFF;
	color: @color-dark;
	line-height: 1.6;
	font-size: 14px;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

h1 , h2 , h3 , h4 , h5 , .h1 , .h2 , .h3 , .h4 , .h5 {
	font-family: "Montserrat", "WenQuanYi Micro Hei", "Microsoft YaHei", arial, sans-serif;
	color: @color-main;
}

a {
	font-family: "Arimo", "WenQuanYi Micro Hei", "Microsoft YaHei", arial, sans-serif;
	color: @color-dark-green;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
	&:hover {
		color: @color-dark-green-hover;
		-o-transition: .2s;
		-ms-transition: .2s;
		-moz-transition: .2s;
		-webkit-transition: .2s;
		transition: .2s;
	}
}

p {
	font-size: 15px;
	line-height: 1.8em;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 , .h4 {
	font-size: 16px;
}

h5 , .h5 {
	font-size: 14px;
}

a {
	font-size: 14px;
}

hr {
	border-top: 1px solid @color-text-light;
}

.btn {
	border-radius: 0px;
	font-size: 14px;
}

.btn-primary {
	color: #ffffff;
	background-color: @color-main;
	border-color: @color-main;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
	&:hover {
		color: #ffffff;
		background-color: @color-main-light;
		border-color: @color-main-light;
		-o-transition: .2s;
		-ms-transition: .2s;
		-moz-transition: .2s;
		-webkit-transition: .2s;
		transition: .2s;
	}
}

.btn-mini {
	color: #ffffff;
	background-color: @color-dark-green;
	border-color: @color-dark-green;
}

.label {
	border-radius: 0px;
	font-size: 14px;
}

.label-primary {
	background-color: @color-main;
	color: white;
	font-family: "Montserrat", "WenQuanYi Micro Hei", "Microsoft YaHei", arial, sans-serif;
	font-size: 14px;
	padding: 4px;
}

.header {
	text-align: left;
	padding-top: 50px;
	background: @color-main;
	color: @color-text-light;
	margin-left: auto;
	margin-right: auto;
	.row {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		.pull-right {
			text-align: right;
		}
	}

	.text {
		color: @color-text-light;
	}
}

.featurette-heading {
	font-size: 30px;
	&.light {
		color: @color-text-light;
	}
}

.lead {
	font-size: 16px;
	margin-top: 40px;
	margin-bottom: 40px;
	@media (min-width: 768px) {
		font-size: 16px;
	}
}

.menu {
	width: 15%;
	float: left;
	position: relative;
	min-height: 1px;
}

.contact {
	height: 240px;
	text-align: center;
	img {
		width: 80px;
		height: 80px;
	}

	.row {
		bottom: 20px;
		margin-top: 20px;
		padding-left: 20%;
		padding-right: 20%;
	}

	.btn {
		width: 90px;
	}
}

.footer {
	text-align: left;
	background: @color-main;
	color: @color-text-light;
	padding-top: 40px;
	padding-bottom: 80px;
	bottom: 0;
	a {
		color: @color-text-light;
	}

	a:hover {
		color: @color-dark-green-hover;
		-o-transition: .2s;
		-ms-transition: .2s;
		-moz-transition: .2s;
		-webkit-transition: .2s;
		transition: .2s;
	}
}

.container {
	&.marketing {
		.col-lg-2 {
			h1 {
				opacity: 0;
				position: absolute;
				letter-spacing: 10px;
				top: 0px;
				width: 90%;
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-o-transition: all .3s ease;
				-ms-transition: all .3s ease;
				transition: all .3s ease;
			}

			h4 {
				opacity: 0;
				margin-top: -30px;
				-webkit-transition: opacity .3s ease;
				-moz-transition: opacity .3s ease;
				-o-transition: opacity .3s ease;
				-ms-transition: opacity .3s ease;
				transition: opacity .3s ease;
			}

			img {
				position: relative;
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-o-transition: all .3s ease;
				-ms-transition: all .3s ease;
				transition: all .3s ease;
			}
		}

		.col-lg-2:hover {
			h1 {
				color: @color-text-light;
				opacity: 1;
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-o-transition: all .3s ease;
				-ms-transition: all .3s ease;
				transition: all .3s ease;
			}

			h4 {
				opacity: 1;
				color: @color-text-light;
				-webkit-transition: opacity .3s ease .3s;
				-moz-transition: opacity .3s ease .3s;
				-o-transition: opacity .3s ease .3s;
				-ms-transition: opacity .3s ease .3s;
				transition: opacity .3s ease .3s;
				-webkit-backface-visibility: hidden;
			}

			img {
				opacity: 0.2;
				-webkit-filter: blur(3px);
				-ms-filter: blur(3px);
				-moz-filter: blur(3px);
				-o-filter: blur(3px);
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-o-transition: all .3s ease;
				-ms-transition: all .3s ease;
				transition: all .3s ease;
			}
		}

		.row {
		}

		.marketing-header {
			text-align: left;
			h4 {
				color: @color-text-light;
				padding-top: 15px;
				letter-spacing: .1em;
			}

			h1 {
				color: @color-text-light;
				letter-spacing: .1em;
			}
		}
	}

	&.featurette {
		.row {
			.img-wrapper {
				width: 35%;
				float: left;
			}

			.text-wrapper {
				width: 65%;
				float: right;
				padding-left: 50px;
				padding-right: 50px;
			}
		}

		&.light {
			color: @color-text-light;
		}

		.text-muted {
			color: #666666;
		}

		padding-top: 80px;
		padding-bottom: 60px;
	}

	&.navbar-container {
		margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: 1200px) {
		max-width: 1100px;
	}
}

.row {
	@media (min-width: 768px) {
		margin-right: 0px;
		margin-left: 0px;
	}
}

.col-lg-3 {
	.contact-img {
		margin: 20px 0 20px 0;
		-o-transition: margin .3s ease-in-out;
		-ms-transition: margin .3s ease-in-out;
		-moz-transition: margin .3s ease-in-out;
		-webkit-transition: margin .3s ease-in-out;
		transition: margin .3s ease-in-out;
	}

	&:hover {
		.contact-img {
			margin: 0 0 40px 0;
			-o-transition: margin .3s ease-in-out;
			-ms-transition: margin .3s ease-in-out;
			-moz-transition: margin .3s ease-in-out;
			-webkit-transition: margin .3s ease-in-out;
			transition: margin .3s ease-in-out;
		}
	}
}

.content {
	text-align: left;
	padding-top: 0px;
	background: #FFFFFF;
	position: relative;
	min-height: 2000px;
	&.blog {
		overflow: hidden;
	}
}

.content-background {
	.content-block {
		padding-top: 200px;
	}

	&.marketing {
		background: @color-main;
		z-index: 90;
	}

	&#self-intro {
		background-image: url('/static/home/assets/me.jpg');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: 600px;
		background-position: 30% 0%;
		background-repeat: no-repeat;
		z-index: 80;
		.content-block {
			padding-top: 80px;
			padding-bottom: 80px;
		}
	}

	&#writing {
		background-image: url('/static/home/assets/writing.jpg');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment:fixed;
		z-index: 70;
		height: 700px;
	}

	&#data {
		background-image: url('/static/home/assets/code.png');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment:fixed;
		z-index: 60;
		height: 700px;
	}

	&#travel {
		background-image: url('/static/home/assets/travel.jpg');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: 30%;
		background-attachment:fixed;
		z-index: 50;
		height: 700px;
	}
}

.content-block {
	max-width: 1100px;
	margin: auto;
	padding-top: 120px;
	padding-bottom: 120px;
	&.marketing {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.svg {
	margin-left: auto;
	margin-right: auto;
}

pre {
	border-radius: 0px;
}

code {
	border-radius: 0px;
	background-color: @color-code-background;
	color: @color-code;
}

.share {
	float: right;
}

