{% extends "blog/blog_index.html" %}

{% block main_content %}
{% if blog %}
<div id="blog">
	<div>
		<h3>{{ blog.title }}</h3>
	</div>
	<p>{{ blog.pub_date }}</p>
	{% if blog.categories.all %}
	{% for category in blog.categories.all %}
	<button type="button "class="btn btn-mini" href="#">
		{{ category.title }}
	</button>
	{% endfor %}
	{% else %}
	<button type="button "class="btn btn-mini disabled" href="#">
		无分类
	</button>
	{% endif %}
	<div class="blog blog_tease">
	<p>{{ blog.body }}</p>
	</div>
</div>
{% endif %}
{% endblock %}
