{% extends "blog_index.html" %}

{% block main_content %}
{% if blogs %}
<div id="blog">
	<div>
		<a href="{% url 'blog:content' blog.slug %}"><h3>{{ blog.title }}</h3></a>
	</div>
	<p>{{ blog.pub_date }}</p>
	{% if blog.category_set.all %}
	{% for category in blog.categorys.all %}
	<button type="button "class="btn btn-mini" href="#">
		{{ category.title }}
	</button>
	{% endfor %}
	{% else %}
	<button type="button "class="btn btn-mini disabled" href="#">
		无分类
	</button>
	{% endif %}
	<div id="blog_tease">
	<p>{{ blog.tease }}</p>
	</div>
</div>
{% endif %}
{% endblock %}