/* Customized styles, overriding bootstrap.css and carousel.css */

html {
	font-family: "WenQuanYi Micro Hei", arial, sans-serif;
}

body {
	/*background: #023748;*/
	background: #BECCCD;
	color: #023748;
	font-family: "WenQuanYi Micro Hei", arial, sans-serif;
	line-height: 1.6;
	font-size: 16px;
}

h1, h2, h3, h4, h5, a {
	color: #023748;
	font-family: "WenQuanYi Micro Hei", arial, sans-serif;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, a:hover {
	color: #08556F;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

.content {
	padding-top: 0px;
	/*background: #023748;*/
	background: #BECCCD;
	margin-left: 20px auto;
	margin-right: 20px auto;
}

.header {
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
	background: #023748;
	color: #59A0B7;
	margin-left: 0px;
	margin-right: 0px;
}

.header .text {
	color: #59A0B7;
}

.header .row {
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
}

.header .row .pull-right {
	text-align: right;
}

.contact {
	height: 240px;
	text-align: center;
}

.contact .row {
	bottom: 20px;
	margin-top: 20px;
	padding-left: 20%;
	padding-right: 20%;
}

.contact img {
	width: 110px;
	height: 110px;
}

.col-lg-3 .contact-img {
	margin: 20px 0 20px 0;
	-o-transition: margin .2s ease-in-out;
	-ms-transition: margin .2s ease-in-out;
	-moz-transition: margin .2s ease-in-out;
	-webkit-transition: margin .2s ease-in-out;
	transition: margin .2s ease-in-out;
}

.col-lg-3:hover .contact-img{
	margin: 0 0 40px 0;
	-o-transition: margin .2s ease-in-out;
	-ms-transition: margin .2s ease-in-out;
	-moz-transition: margin .2s ease-in-out;
	-webkit-transition: margin .2s ease-in-out;
	transition: margin .2s ease-in-out;
}

.contact .btn {
	width: 110px;
}

.footer {
	background: #023748;
	color: #59A0B7;
	padding-top: 40px;
	padding-bottom: 80px;
}

.footer a {
	color: #59A0B7;
}

.footer a:hover {
	color: #08556F;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

.menu {
	top: 30px;
	position: relative;
	float: left;
	width: 20%;
	min-height: 1000px;
	background: #BECCCD;
}

.main-content {
	top: 30px;
	left: 40px;
	right: 40px;
	border-left-color: #59A0B7;
	border-left-style: solid;
	border-left-width: 1px;
	background: #BECCCD;
	position: relative;
	width: 75%;
	min-height: 1000px;
	float: left;
	padding-bottom: 60px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 40px;
}

.container .navbar-container {
	margin-left: 0px;
	margin-right: 0px;
}

@media (min-width: 1200px) {
	.container .navbar-container {
		max-width: 100%;
	}
}
@media (min-width: 992px) {
	.container .navbar-container {
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.container .navbar-container {
		max-width: 100%;
	}
}

.content-block {
	background: #879BA1;
	margin: 30px 100px 30px 100px;
	padding: 50px 50px;
}

.blog {
	border-bottom-color: #023748;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
}

.blog .blog-body {
	padding-top: 20px;
}

.blog.blog-body p {
	text-align: justify;
}

.nav .pull-right {
	text-align: right;
}

.bs-sidenav > li > a:hover {
	background: #08556F;
	color: #BECCCD;
}

.navbar {
	padding-left: 100px;
	padding-right: 100px;
}

/* Adjust position of navbar */
/* Needs to be fixed */
.navbar-fixed-top {
	left: 50%;
	margin-left: -50%;
}

.navbar-wrapper {
	margin-top: 0px;
}

.navbar-wrapper .navbar {
	border-radius: 0px;
}

/* Make shadow after the navbar */
/* Needs to be fixed */
.navbar-shadow:after {
	top: 49px;
	width: 100%;
	height: 1px;
	display: block;
	position: absolute;
	-webkit-box-shadow: 0px 1px 4px 0px #ffffff;
	-moz-box-shadow: 0px 1px 4px 0px #ffffff;
	box-shadow: 0px 1px 4px 0px #ffffff;
}

.navbar-nav {
	width: 100%;
	margin: 0 auto;
}

.navbar-nav > li > a {
	color: #59A0B7;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
	color: #023748;
	background-color: #59A0B7;
}

.navbar-nav #logo {
	margin-right: 20px;
}

.navbar-toggle {
	border: 2px solid #59A0B7;
	border-radius: 0px;
}

.navbar-toggle:hover {
	border: 2px solid #59A0B7;
	background-color: #BECCCD;
}

.navbar-toggle .icon-bar {
	background-color: #59A0B7;
	width: auto;
	border-radius: 0px;
}

.navbar-nav .social_network_logo {
	width: 30px;
	height: 30px;
	margin: -6px;
}

.btn {
	border-radius: 0px;
	font-size: 16px;
}

.btn-primary {
	color: #ffffff;
	background-color: #023748;
	border-color: #023748;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

.btn-primary:hover {
	color: #ffffff;
	background-color: #08556F;
	border-color: #08556F;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

.btn-mini {
	color: #ffffff;
	background-color: #023748;
	border-color: #023748;
}

.carousel {
	margin-bottom: 30px;
	margin-top: 0px;
}

/* Makes the slides fade out for transition
 * Also needs to change the following part in bootstrap.min.js
 * emulateTransitionEnd(600)
 * Change 600 to match the transition time
 */

.carousel.carousel-fade .item {
	opacity: 0;
	-webkit-transition: opacity .8s linear;
	-moz-transition: opacity .8s ease-in-out;
	-ms-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
}

.carousel.carousel-fade .active {
	opacity: 1;
	z-index: 0;
}

.carousel.carousel-fade .active.left, .carousel.carousel-fade .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}

.carousel.carousel-fade .next.left, .carousel.carousel-fade .prev.right {
	opacity: 1;
	z-index: 0;
}

/* End of slide transition customization */

/* Customize the control button */
.carousel-control {
	opacity: 1;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
	width: 10%;
}

.carousel-control:hover {
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

.carousel-control.left {
	background-image: url('/static/home/assets/arrow-left-dark.png');
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	z-index: 14;
}

.carousel-control.left:hover {
	background-image: url('/static/home/assets/arrow-left.png');
}

.carousel-control.right {
	background-image: url('/static/home/assets/arrow-right-dark.png');
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	z-index: 14;
}

.carousel-control.right:hover {
	background-image: url('/static/home/assets/arrow-right.png');
}
/* End of control button customization */

.carousel-indicators {
	z-index: 14;
}

.carousel-indicators li {
	border: 1px solid #023748;
	border-radius: 0px;
}

.carousel-indicators .active {
	background-color: #023748;
	border-color: #023748;
}

.carousel-inner {
	background: #879BA1;
	height: 440px;
}

.carousel-inner > .item {
	margin-top: 20px;
	margin-bottom: 20px;
}

.carousel-img img {
	float: left;
	position: relative;
	left: 0%;
	right: 30%;
	max-width: 70%;
	max-height: 90%;
}

.carousel-caption {
	left: 65%;
	right: 10%;
	text-align: justify;
	position: absolute;
}

.carousel-caption h1 {
	font-size: 28px;
	top: -10px;
	margin-bottom: 50px;
}

.carousel-caption p {
	font-size: 18px;
}

.affix {
	top: 70px;
	width: 18%;
}

.svg {
	margin-left: auto;
	margin-right: auto;
}
