/* Customized styles, overriding bootstrap.css and carousel.css */

.content {
	padding-top: 0px;
	/*background: #023748;*/
	background: #BECCCD;
	margin-left: 20px;
	margin-right: 20px;
}

.header {
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background: #023748;
	color: #59A0B7;
	margin-left: 0px;
	margin-right: 0px;
}

.header .text {
	color: #59A0B7;
}

.header .row {
	margin-left: 0px;
	margin-right: 0px;
}

.header .row .pull-right {
	text-align: right;
}

html {
	font-family: "WenQuanYi Micro Hei", arial, sans-serif;
}

.footer {
	background: #023748;
	color: #59A0B7;
	padding-top: 40px;
	padding-bottom: 80px;
}

.footer a {
	color: #59A0B7;
}

.footer a:hover {
	color: #08556F;
}

.menu {
	top: 30px;
	position: relative;
	float: left;
	width: 20%;
	min-height: 1000px;
	background: #BECCCD;
}

.main_content {
	top: 30px;
	left: 40px;
	right: 40px;
	border-left-color: #59A0B7;
	border-left-style: solid;
	border-left-width: 1px;
	background: #BECCCD;
	position: relative;
	width: 75%;
	min-height: 1000px;
	float: left;
	padding-bottom: 60px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 40px;
}

.container .navbar_container {
	margin-left: 20px;
	margin-right: 20px;
}

@media (min-width: 1200px) {
	.container .navbar_container {
		max-width: 100%;
	}
}
@media (min-width: 992px) {
	.container .navbar_container {
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.container .navbar_container {
		max-width: 100%;
	}
}

h1, h2, h3, h4, h5, a {
	color: #023748;
	font-family: "WenQuanYi Micro Hei", arial, sans-serif;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, a:hover {
	color: #08556F;
}

.blog {
	border-bottom-color: #023748;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
}

.blog .blog_tease {
	padding-top: 20px;
}

.blog .btn_blog_category {

}

body {
	/*background: #023748;*/
	background: #BECCCD;
	color: #023748;
	font-family: "WenQuanYi Micro Hei", arial, sans-serif;
	line-height: 1.6;
	font-size: 16px;
}

.nav .pull-right {
	text-align: right;
}

.bs-sidenav > li > a:hover {
	background: #08556F;
	color: #BECCCD;
}

.navbar {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-wrapper .navbar {
	border-radius: 0px;
}

.navbar-shadow:after {
	top: 49px;
	width: 100%;
	height: 1px;
	display: block;
	position: absolute;
	-webkit-box-shadow: 0px 1px 4px 0px #ffffff;
	-moz-box-shadow: 0px 1px 4px 0px #ffffff;
	box-shadow: 0px 1px 4px 0px #ffffff;
}

.navbar-nav {
	width: 100%;
	margin: 0 auto;
}

.navbar-nav > li > a {
	color: #59A0B7;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
	color: #023748;
	background-color: #59A0B7;
}

.navbar-nav #logo {
	margin-right: 20px;
}

.navbar-toggle {
	border: 2px solid #59A0B7;
	border-radius: 0px;
}

.navbar-toggle:hover {
	border: 2px solid #59A0B7;
	background-color: #BECCCD;
}

.navbar-toggle .icon-bar {
	background-color: #59A0B7;
	width: auto;
	border-radius: 0px;
}

.navbar-nav .social_network_logo {
	width: 30px;
	height: 30px;
	margin: -6px;
}

.btn {
	border-radius: 0px;
}

.btn-primary {
	color: #ffffff;
	background-color: #023748;
	border-color: #023748;
}

.btn-primary:hover {
	color: #ffffff;
	background-color: #08556F;
	border-color: #08556F;
}

.btn-mini {
	color: #ffffff;
	background-color: #023748;
	border-color: #023748;
}

.carousel {
	margin-bottom: 60px;
	/* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
	margin-top: 20px;
}

/* Makes the slides fade out for transition
 * Also needs to change the following part in bootstrap.min.js
 * emulateTransitionEnd(600)
 * Change 600 to match the transition time
 */

.carousel.carousel-fade .item {
	-webkit-transition: opacity 0.8s ease-in-out;
	-moz-transition: opacity 0.8s ease-in-out;
	-ms-transition: opacity 0.8s ease-in-out;
	-o-transition: opacity 0.8s ease-in-out;
	transition: opacity 0.8s ease-in-out;
}

.carousel.carousel-fade .active.left {
	left: 0;
	opacity: 0;
	z-index: 2;
}

.carousel.carousel-fade .active.right {
	left: 0;
	opacity: 0;
	z-index: 2;
}

.carousel.carousel-fade .next {
	left: 0;
	opacity: 1;
	z-index: 1;
}

.carousel.carousel-fade .prev {
	left: 0;
	opacity: 1;
	z-index: 1;
}
/* End of slide transition customization */

/* Customize the control button */
.carousel-control {
	opacity: 1;
}

.carousel-control:hover {
	opacity: 1;
}

.carousel-control.left {
	background-image: url('/static/home/assets/arrow-left-dark.png');
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	z-index: 14;
}

.carousel-control.left:hover {
	background-image: url('/static/home/assets/arrow-left.png');
}

.carousel-control.right {
	background-image: url('/static/home/assets/arrow-right-dark.png');
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	z-index: 14;
}

.carousel-control.right:hover {
	background-image: url('/static/home/assets/arrow-right.png');
}
/* End of control button customization */

.carousel-indicators {
	z-index: 14;
}

.carousel-indicators li {
	border: 1px solid #023748;
	border-radius: 0px;
}

.carousel-indicators .active {
	background-color: #023748;
	border-color: #023748;
}

.carousel-caption {
	left: 25%;
	right: 25%;
}

.carousel-caption h1 {
	font-size: 28px;
	margin-bottom: 20px;
}

.carousel-caption p {
	font-size: 18px;
}

.affix {
	top: 70px;
	width: 18%;
}
